[submodule "frontend"]
	path = frontend
	url = https://github.com/trevorpao/operon.git
	branch = f3cms
[submodule "backend"]
	path = backend
	url = https://github.com/trevorpao/gene-panel.git
	branch = f3cms
